<% if @course.errors.any? %>
	<ul><% @course.errors.full_messages.each do |msg|%>
			<li><%=msg%></li>
		<%end%>
	</ul>
<%end%>
<%= form_for @course, :url=> {:controller => 'course', :action => 'createCourse'} do |c|%>	
	<%= c.label :author, "Author:" %>
	<%= @Author %>
	<%= c.hidden_field :author, :value => @course.author %>
	<br></br>
	<%= c.label :coursename, "Course Name:" %>
	<%= c.text_field :coursename %>
	<br></br>
	<%= c.label :description, "Description:" %>
	<br></br>
	<%= c.text_area :description %>
	<br></br>
	<%= c.label :ispublic, "Ready to go public:" %>
	<%= c.check_box :ispublic %>
	<br></br>
	<%= c.submit "Create" %>
<%end%>
