		<canvas id="slide" style="background-image:url(<%=@course.slideorder[0]%>)"></canvas>
		<div class="flow-controll">
         <%= link_to '/' do %>
			<button class="flow-controll" id="back-home"></button> 
         <% end %>
			<button class="flow-controll" id="playBtn"></button>
			<button class="flow-controll" id="nextBtn"></button>
			<button class="flow-controll" id="prevBtn"></button>
		</div>
		<div id="toolbox_container" class="hidden">
			<div class="horizontal tag block" id="toolbox_tag" >ToolBox</div>
			<div class="block" id="toolbox">
				<ul class="block" id="tools">
					<span>Tools</span>
					<li class="active" id="pencil"></li>
					<li class="inactive" id="eraser"></li>
				</ul>
				<ul class="block" id="colors">
					<span>Colors</span>
					<li class="active" id="black"></li>
					<li class="inactive" id="red"></li>
					<li class="inactive" id="blue"></li>
				</ul>
			</div>
		</div>
		<div id="sidebox_container" class="hidden">
			<div class="vertical tag block" id="panel_tag">Slides Panel</div>
			<div class="block" id="panel">
				<ul class="panel_menu">
					<li class="selected slide_button">slide</li>
					<li class="unselected record_button">record</li>
				</ul>
				<hr/>
				<div id="panel_content">
					<div class="record_items">
						<div class="item record_item">
							<div class="item_info">
								<h3 class="title">slide 1</h3>
								<span class="record_time">0:33</span>
							</div>
							<a class="item_thumb">thumbnail</a>
						</div>
					</div>
					<div class="slide_items">
                  <% @course.slideorder[:totalPage].to_i.times do |i| %>
						<div class="item slide_item">
							<div class="item_info">
								<h3 class="title">slide <%=i+1%></h3>
							</div>
							<a class="item_thumb control_change" id="<%=i%>thumb"><img src="<%= @course.slideorder["thumb#{i}"] %>"></a>
						</div>
                  <% end %>
					</div>
				</div>
			</div>
			<div class="vertical tag block" id="chat_tag">Chat Room</div>
			<div class="block" id="chat">
				<div id="chat_content">
               <%= render @messages %>
            </div>
            <% name = nil
               if session[:user]
                  name = session[:user].username
               else
                  name = "guest"
               end
            %>
            <%= form_for Message.new, :remote => true do |f| %>
            <%= f.text_field :content, :id => 'input_line' %>
            <%= f.hidden_field :from, :value => name %>
            <%= f.hidden_field :channel, :value => @channel %>
            <%= f.submit "Send" %>
            <% end %>
			</div>
		</div>
      <script>
         //----------------------faye server------------------------------// 
              var faye = new Faye.Client('http://localhost:9292/faye');
              faye.subscribe("<%= escape_javascript @channel %>", function (data) {
                 //console.log(data);
                 //alert(data);
                 eval(data);
              });
         
      </script>
