<p>The courses that <%= @username%> described:
</p>
<%  @describedCourseIds.each do |courseid| %>
<img src="http://localhost:3000/assets/<%=Courselist.find(courseid).image %>" alt="<%=Courselist.find(courseid).coursename %>">	
<p>Course ID: <%= courseid %></p>
<%theCourse=Courselist.find(courseid)%>
<p>Course Name: <%= theCourse.coursename %></p>
<p>Course Author: <%= theCourse.author %></p>
<p>Description: <%= theCourse.description %></p>
<p>Course Status: <%= theCourse.ispublic %></p>
<p>Course Slideorder: <%$i = 1;%>
<% while $i < theCourse.slideorder[:"totalSlideNumber"] do %>
	<%theSlide =Coursecontent.find(theCourse.slideorder[:"#$i"])%>
	<p><img src="http://localhost:3000/assets/<%=theSlide.slidesource %>" alt="<%=theCourse.coursename+"_#$i.jpg" %>"><br></br>
	Canvas Source: <%=theSlide.canvassource%><br></br>
	Record Source: <%=theSlide.recordsource%><br></br>
	</p>
<%end%>		
</p>
<p>Course Ranking: <%= theCourse.ranking %></p>

<%end%>
<p><%= link_to 'back to index', '/index'%></p>
<%=debug(@user) %>cou
