<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>slide</title>
		<meta name="description" content="" />
		<meta name="author" content="jack" />
		<!--meta name="viewport" content="width=device-width; initial-scale=1.0" /-->
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery.tools.min" %>
  <%= javascript_include_tag "gui" %>
  <%= javascript_include_tag "recorder" %>
  <%= javascript_include_tag "application" %>
  <!--embed type="application/x-shockwave-flash" src="/assets/Wami.swf" width="214" height="137" id="wid0ccc2047456" style="visibility: visible; "><param name="allowScriptAccess" value="always"><param name="wmode" value="transparent"><param name="flashvars" value="visible=false&amp;loadedCallback=Wami._callbacks['wid5484e8ed5e7']&amp;console=true"></embed-->
  <!--%=image_path('/assets/swfs/Wami.swf')%-->
  <%= csrf_meta_tags %>
  <!--script>flashembed("flash", "/assets/Wami.swf");</script-->
	</head>
	<body>
      <%= yield %>
	</body>
</html>
