<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>home</title>
		<meta name="description" content="" />
		<meta name="author" content="jack" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <%= stylesheet_link_tag    "reset"%>
  <%= stylesheet_link_tag    "home"%>
  <%= csrf_meta_tags %>
	<body>
   <header>
      <div id="main-header">
         <%= link_to '/' do %>
         <%= image_tag "pacman.png", {:id=>"ghost-img"}%>
         <h1>Snacks！</h1>
         <% end %>
      </div>
      <div id="search-bar">
         <input type="search" id="search-lecture" placeholder="Search a lecture...">
         <button type="submit"></button>
      </div>
      <% if session[:user] == nil %>
      <div id="account-block" class="account-block unlogged">
         <%= form_tag(:controller => 'user', :action => 'login') %>
         <%= text_field 'user', 'username', :class => "account-input", :placeholder => "Account" %>
         <%= password_field 'user', 'password' , :class => "account-input", :placeholder => "Password" %>
         <%= button_tag "log-in", :id => 'log-in'%>
         <div id="account-helper">
            <%= link_to new_user_path do%>
               <button id="register">+</button>
            <% end %>
            <a href="rescue.html"><button id="rescue">?</button></a>
         </div>
         <!--
         <input type="text" placeholder="Account" class="account-input">
         <input type="password" placeholder="Password" class="account-input">
         <div id="account-helper">
            <%= link_to new_user_path do%>
               <button id="register">+</button>
            <% end %>
            <a href="rescue.html"><button id="rescue">?</button></a>
         </div>
         <button id="log-in" type="submit" action="submit">log-in</button>
         -->
      </div>
      <% else %>
      <div id="account-block" class="account-block logged">
         <span>
         <%= "Hello, #{session[:user].username}!" %>
         </span>
         <%= link_to '/logout' do%>
            <button id="logout">logout</button>
         <% end %>
      </div>
      <% end %>
   </header>
   <%= yield %>
	</body>
</html>
